body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .navbar {
            background-color: #2c3e50;
            padding: 15px 30px;
            color: white;
            display: flex;
            justify-content: space-between;
        }

        .navbar a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
        }

        .container {
            padding: 30px;
        }

        .card {
            background: #f4f4f4;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
        }

        .over {
            color: red;
            font-weight: bold;
        }

        .good {
            color: green;
            font-weight: bold;
        }

        input, button {
            padding: 10px;
            margin-top: 10px;
        }


    /*-------------------------------------------------------*/
/* LOGIN PAGE */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Bigger box */
.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px; /* 🔥 wider */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Headings */
.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* Inputs - full width */
.login-box input {
    width: 92%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Buttons stacked */
.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
}

/* Divider */
.divider {
    text-align: center;
    margin: 25px 0;
    color: #888;
}

/* Messages */
.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}