<!DOCTYPE html>
<html>
<head>
    <title>Budget</title>

      
     <link rel="stylesheet" href="/static/style.css">
       

</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div>Finance Tracker</div>
    <div>
        <a href="/home">Home</a>
        <a href="/budget">Budget</a>
        <a href="/statistics">Statistics</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="container">

    <h1>Hello, {{ username }} 👋</h1>

 <div class="container">

<div class="card">
    <h3>Set Budget</h3>
    <form method="POST">
        <input type="number" name="budget" step="0.01" required>
        <button type="submit">Save</button>
    </form>
</div>

<div class="card">
    <h3>Budget Overview</h3>
    <p>Budget: £{{ budget }}</p>
    <p>Spent: £{{ expenses }}</p>
    <p>Remaining: £{{ remaining }}</p>

    <div class="progress-bar">
        <div class="progress" style="width: {{ percent }}%;"></div>
    </div>

 
    {% if over %}
        <p style="color:red;">⚠ Over budget! <br> You have £{{ "%.2f"|format(budget - expenses) }} left in your budget</p>
     {% else %}
            <p class="good">✔ You have £{{ "%.2f"|format(budget - expenses) }} left in your budget</p>
       
        {% endif %}



</div>

</div>

</body>
</html>